body {
  background-color: #0e0b20;
}

.header__container {
  background-image: url("./assets/sandro-katalina-k1bO_VTiZSs-unsplash.jpg");
}

.text-shadow {
  text-shadow: 0 0 30px rgb(0, 172, 177);
}

.subtext-shadow {
  text-shadow: 0 0 5px rgb(0, 0, 0);
}
